$contents-width: 475px;

.contents-header {
  width: $contents-width;
  margin: 0 auto;
  border-top: 1px solid black;
}

.contents {
  width: $contents-width;
  margin: 0 auto;
  a {
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  } 
  list-style-type: none;
  .contents-label {
    font-size: 24px;
  }
  .contents-item {
    padding-left: 24px;
  }
}