$project-margin: 15px 0;
.project {
  margin-bottom: 100px;
  .project-title {
    margin: $project-margin;
    a {
      color: $text-color;
    }
    a:hover {
      text-decoration: none;
    }
  }
  img {
    border-radius: 3px;
  }
}