---
layout: default
---

<div class="book-title-page">
  <h1 class="book-title">The Developer's Guide to the Galaxy</h1>
  <h2 class="book-subtitle">Keep Banging Rocks Together</h2>
  <h2 class="author-name">John Brock</h2>
</div>
<hr>
<h1 class="centered">Contents</h1>

<ul class="contents">
  <li class="contents-label">
    <a href="#" title="Foreword">Foreword</a>
  </li>
  <li class="contents-label">
    <a href="#" title="About the Author">About the Author</a>
  </li>
  <li class="contents-label">
    <a href="#" title="projects">Projects</a>
  </li>
  {% for blog in site.blogs %}
    {% if blog == "john-brock-js" %}
      <li class="contents-label">
        <a href="#" title="john-brock.js">Chapter 1: john-brock.js</a>
      </li>
    {% elsif blog == "brock-of-ages" %}
      <li class="contents-label">
        <a href="#" title="john-brock.js">Chapter 2: Brock of Ages</a>
      </li>
    {% endif %}
    {% for post in site.posts %}
      {% if blog == post.blog %}
        <li class="contents-item">
          <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <li class="contents-label">
    <a href="#">Index</a>
  </li>
  <li class="contents-label">
    <a href="{{ "/feed.xml" | relative_url }}">RSS Feed</a>
  </li>
</ul>



