---
layout: default
---
<div class="home">
  <div class="book-title-page">
    <h1 class="book-title centered">The Developer's Guide to the Galaxy</h1>
    <h2 class="book-subtitle centered">Keep Banging Rocks Together</h2>
    <h2 class="author-name centered">John Brock</h2>
  </div>
</div>

<ul class="post-list">
  <h2 class="content-chapter-label"><a href="#">Foreward</a></h2>
  <h2 class="content-chapter-label"><a href="#">About the Author</a></h2>
  <h2 class="content-chapter-label"><a href="#">Projects</a></h2>
  {% for blog in site.blogs %}
  <h2 class="content-chapter-label">{{ blog }}</h2>
    {% for post in site.posts %}
      <li>
        {% if blog == post.blog %}
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        {% endif %}
      </li>
    {% endfor %}
  {% endfor %}
  <h2 class="content-chapter-label"><a href="#">Index</a></h2>
</ul>


<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
