---
layout: default
---

<div class="book-title-page">
  <h1 class="book-title">The Developer's Guide to the Galaxy</h1>
  <h2 class="book-subtitle">Keep Banging Rocks Together</h2>
  <h2 class="author-name">John Brock</h2>
</div>

<h1 class="centered">Contents</h1>

<ul class="contents">
  <li class="contents-label">
    <a href="#" title="Foreword">Foreword</a>
  </li>
  <li class="contents-label">
    <a href="#" title="About the Author">About the Author</a>
  </li>
  <li class="contents-label">
    <a href="#" title="projects">Projects</a>
  </li>
  {% for blog in site.blogs %}
    {% if blog == "john-brock-js" %}
      <li class="contents-label">
        <a href="#" title="john-brock.js">Chapter 1: john-brock.js</a>
      </li>
    {% elsif blog == "brock-of-ages" %}
      <li class="contents-label">
        <a href="#" title="john-brock.js">Chapter 2: Brock of Ages</a>
      </li>
    {% endif %}
    {% for post in site.posts %}
      {% if blog == post.blog %}
        <li class="contents-item">
          <a class="contents-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>

          <div class="date-container">
            {% assign date_format = site.minima.date_format | default: "%b %d, %Y" %}
            <span class="contents-date">{{ post.date | date: date_format }}</span>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <li contents-label>
    <a href="#">Index</a>
  </li>
</ul>


<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
